*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color: #050505;
  background-color: #f0f5f2;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  --left-column-width: 288px;
  --main-padding: 2rem;
  --color-primary: #051427;
  --color-primary-variant: #1960ba;
}

body {
  padding: 2rem 0;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  padding-bottom: 0.25rem;
  font-size: 1.125rem;
  border-radius: 0.125rem;
}

p,
li {
  font-size: 0.875rem;
}

.flex {
  display: flex;
}
.items-start {
  align-items: flex-start;
}

main {
  margin: 0 auto;
  width: 880px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: -20;
  overflow: hidden;
}

#left-column {
  padding-top: var(--main-padding);
  padding-left: var(--main-padding);
  width: var(--left-column-width);
  flex-shrink: 0;
}

#brief-info,
#avatar {
  padding: 1rem;
  background-color: var(--color-primary-variant);
}

#avatar {
  height: calc(var(--left-column-width) - var(--main-padding));
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#brief-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;

  *::selection {
    background-color: #ebd31b;
    color: black;
  }

  h2 {
    border-bottom: 1px solid #fff;
  }

  .section-content {
    padding-left: 0.25rem;
    font-weight: 500;
  }

  svg {
    font-size: 1rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
  }
}

#skills {
  ul {
    margin-top: 0.5rem;
    list-style: inside;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  li span {
    font-size: 1rem;
    position: relative;
    left: -8px;
  }
}

#contact {
  ul {
    margin-top: 0.75rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

#education {
  .section-content {
    margin-top: 0.75rem;
  }
  .education-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .university {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
  }
}

#right-column {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  section {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
  }

  h2 {
    color: var(--color-primary-variant);
    border-bottom: 1px solid var(--color-primary-variant);
  }
}

#introduction {
  padding-top: calc(var(--main-padding) + 1rem);
  padding-bottom: 2rem;
  color: #f0faf6;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    left: calc(0px - var(--left-column-width) - var(--main-padding));
    background-color: var(--color-primary);
  }

  .title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .about-me {
    margin-top: 1.5rem;
    line-height: 1.6;
  }
}

#experience {
  .section-content {
    margin-top: 0.5rem;
  }

  .experience-item {
  }

  .employer-logo {
    display: flex;
    width: 3.75rem;
    min-width: 3.75rem;
    height: 3.75rem;
    padding: 0.25rem;
  }

  .general-info {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .employer {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.2;
    }

    .employment-period {
      padding: 1px 0.25rem;
      background-color: #c9ddf8;
      border-radius: 0.25rem;
      font-size: 0.75rem;
      font-weight: 500;
    }

    .employment-title {
      font-weight: 500;
    }
  }

  .description {
    margin-top: 0.5rem;
  }
}
